@media screen and (max-width: 1440px) {
  footer {
    font-size: 15px;
    background-color: #b89f7a;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
  }
  .img-elaboracion-2 {
    margin-bottom: 30px;
  }
  .img-main {
    margin: 100px auto;
    max-width: 100% auto;
    height: auto;
    display: block;
  }
}