@media screen and (max-width: 401px) {
  .img-main {
    width: 200px;
    height: 250px;
  }
  .mobile {
    text-align: center;
    background-color: #b89f7a;
    padding: 10px;
    margin: 10px;
    font-size: 5px;
  }
}