header {
  margin: 10px;
  padding: 20px;
  text-align: center;
  background-color: #b89f7a ;

  h1 {
    @extend .animated-header;
    margin: 0;
    font-size: $font-size-xlarge;
    color: $text-color;
  }

  nav {
    ul {
      list-style-type: none;
      padding: 0;

      li {
        display: inline;
        margin-right: 20px;

        a {
          color: $text-color;
          text-decoration: none;
          @include hover-effect;

          &:hover {
            border: 2px groove $text-color;
            border-radius: 8px;
            box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}

.menuhamburguesa {
  display: none;

  .navbar-toggler {
    background: $primary-color;
    color: darken($primary-color, 20%);
  }
}
