/* INDEX */
main {
  @include flex-center;
}

.titulares {
  padding: 15px;
  text-align: center;
  text-decoration: underline;
  font-size: $font-size-large;
}

.parrafos {
  margin: 12px;
  display: flex;
  font-size: 20px;
  text-align: center;
  padding: 15px 75px;
  align-items: center;
  justify-content: center;
}
.div-parrafo-contacto {
  padding: 50px 0px;
}
.parrafo-contacto {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adress {
  margin: 12px;
}

.img-main {
  width: 400px;
  height: 400px;
}
/* CONTACTO */
.form1 {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* SLIDER DE ELABORACIÓN */

.background-color-section {
  .segundo-titulo-logos {
    color: $secondary-color;
    font-size: 50px;
    font-weight: bold;
    padding-top: 50px;
    text-align: center;
  }
}

.color-de-fondo-slider-logos {
  background-color: $secondary-color;

  .slider-logos-div {
    width: 100%;
    margin: 0;
    overflow: hidden;

    .ul-slider {
      padding: 0;
      width: 200%;
      margin: auto;
      height: 400px;
      display: flex;
      align-items: center;
      animation: slider 6s infinite alternate ease-in-out;

      .li-slider {
        width: 100%;
        margin: auto;
        display: block;
        list-style: none;
        padding: 0 50px;
        text-align: center;

        img {
          transition: transform 3s linear;

          &:hover {
            transform: scale (1,15);
          }
        }

        // Logo specific styles
        &:nth-child(1) .img-elaboracion-1,
        &:nth-child(2) .img-elaboracion-2,
        &:nth-child(3) .img-elaboracion-3,
        &:nth-child(4) .img-elaboracion-4,
        .img-elaboracion-1 {
          width: 500px;
          height: 400px;
        }
        .img-elaboracion-2 {
          width: 400px;
          height: 300px;
        }
        .img-elaboracion-3 {
          width: 400px;
          height: 300px;      
         }
        .img-elaboracion-4 {
          width: 400px;
          height: 300px;
        }
      }
    }
  }
}

/* KEYFRAMES */
@keyframes slider {
  0% {
    margin-left: 0%;
  }
  25% {
    margin-left: -20%;
  }
  50% {
    margin-left: -40%;
  }
  75% {
    margin-left: -60%;
  }
  100% {
    margin-left: -100%;
  }
}

/* SUCURSALES */
.vertepronto {
  font-size: $font-size-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafosucursales {
  margin: 12px;
}
.mapa {
  width: 600px;
}
.maps-ul li {
  padding: 25px 0px;
}
.maps {
  display: grid;
  grid-template-columns: 1fr;

  &-ul {
    display: grid;
    margin: 20px auto;
    padding: 0px;
    grid-template-columns: 1fr;
  }
}
