@mixin flex-center {
  margin: auto;
  display: grid;
  padding: 20px 0px;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
}

@mixin hover-effect {
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}