* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: Georgia, "Times New Roman", Times, serif;
 color: $text-color;
 background-color: $background-color;
}

// Aplicar el gradiente animado al header y footer de todas las páginas
