$primary-color: #b89f7a;
$secondary-color: #e5de91;
$text-color: #4d4d4d;
$background-color: $secondary-color;

// Font sizes
$font-size-small: 15px;
$font-size-medium: 18px;
$font-size-large: 23px;
$font-size-xlarge: 45px;

// Breakpoints
$breakpoint-small: 320px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1440px;